// 文字フォントの種類
$font-base: "Shippori Mincho", serif;
$font-sub: "Cormorant Garamond", serif;
// $font-en: "montserrat", sans-serif;

// 文字の太さ
$light: 300;
$regular: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$black: 900;
