@use "../setting/colors" as *;
@use "../setting/fonts" as *;
@use "../mixin/responsive" as *;

.breadcrumbs {
  &__list {
    display: flex;

    margin-bottom: 80px;

    a {
      margin-right: 16px;

      &::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(45deg);
        margin-left: 8px;

        position: relative;
        top: -2px;
      }
    }
  }
}
